<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask</title>
</head>
<body>
    <h2>My First Flask Project</h2>
    <h3>Hi, I'm {{myname}}.</h3>
    <p>My first Flask project was a simple web app where users could submit forms and view results. 
        It helped me grasp the basics of Flask and web development.</p>
    <p>I learned how to handle HTTP requests, integrate templates, and manage data. 
        The project boosted my confidence in building web applications.</p>
    <img src="static/1.png">
    <img src="{{ url_for('static', filename='2.png') }}"
</body>
</html>